/* CSS Document */
* {padding:0;margin:0 }
#fram {
	margin:auto;
	width:1200px;
	height:100%;
	background: url(../images/fram.jpg)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
	}
#wrapper {
	font-family:Tahoma, Geneva, sans-serif;
	margin:auto;
	width:980px;
	}
#top {
	margin-top:0;
	width:980px;
	height:1300px;
	}

#left {
	margin-top:0;
	float:left;
	width:245px;
	background-image:url(../images/box-corner-right-bot.png);
	background-size:cover;
	border-radius:15px;
	}
#right {
	float:right;
	margin-top:0;
	width:735px;
	}
#header {
	margin-top:0;
	width:735px;
	height:400px;
	background-image:url(../images/box-corner-right-bot.png);
	background-size:cover;
	}
#logo {
	width:300px;
	height:250px;
	margin:0 auto 50px 0;
	float:left;
	}
#logo2 {
	width:400px;
	height:200px;
	float:right;
	margin-top:150px;
	}
#manu {
	width:735px;
	height:50px;
	background-image:url(../images/bg-manu.png);
	border-radius:5px;
}

#manu ul li{
	width:130px;
	height:50px;
	list-style:none;
	float:left;
	line-height:50px;
	font-size:20px;
	text-align:center;
}
#manu ul li a {
	color:#FFF;
	text-decoration:none;
	line-height:50px;
}
#manu ul li :hover {
	color:#F60;
	background-image:url(../images/bg-hover.png)
	}
#manu ul :hover {
	background-image:url(../images/bg-hover.png)}
#content{
	width:735px;
	height:100%;
}
#gt {
	width:730px;
	background-image:url(../images/bg-opacity.png);
	background-size:cover;
	margin-top:10px;
	margin:auto;
	border-radius:15px;
	padding-top:10px;
	height:100%;
}
#img-gt {
	width:250px;
	height:180px;
	margin: 20px 250px;
	text-align:center;
}
#gt h1 {font-size:16px;text-align:center;}
#gt h2 {font-size:16px;font-weight:200;}
#gt h2 ul {margin-left:20px;}
#slide-gt{
	width:100%;
	border:solid double #666666 5px;
	border-radius:10px;
	margin-top:30px;
	margin-left:100px;
	margin-bottom:20px;
}
#slide-gt p{font-weight:500;margin-left:150px;}
#gt-bot{
	width:100%;
	background-size:contain;
	border-radius:10px;
	}
.img-slide-gt{
	width:50px;
	height:100px;
	}
#video{
	border-radius:10px;
	margin:10px auto;
	width:400px;
	height:250px;
	border:solid #666 3px;
}
#video p {text-align:center;font-weight:500;margin-top:20px;}
#catalog {
	width:205px;
	height:430px;
	}
#catalog-b {
	margin:10px 20px 0px 20px;
	width:205px;
	height:430px;
	border-radius:20px;
	background-image:url(../images/bg-1.png);
	border-radius:20px;
	opacity:0.8;
	}
#catalog-b ul li a {
	color:#FFF;
	text-decoration:none;
	list-style:none;}
#catalog-b ul li a:hover {
	color:#F60;
	}
#sale {
	margin: 20px 20px 0 20px;
	width:205px;
	height:240px;
	}
#img-sale {
	width:100%;
	height:100%;
	border-radius:5px;
	}
#care {
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	width:205px;
	height:350px;
	}
#img-care {
	width:100%;
	height:100%;
	border-radius:10px;
	}
#catalog P {
	font-size:30px;
	color:#FFF;
	line-height:75px;
	text-align:center;
	}
#catalog ul li {
	opacity:1;
	list-style:none;
	font-size:20px;
	color:#FFF;
	text-align:left;
	margin:20px 40px;
	}
#footer {
	width:980px;
	height:283px;
	margin-top:10px;
	}
.img-footer{
	width:100%;
	height:283px;
	border-radius:10px;	
}
#title {
	width:700px;
	height:40px;
	background-image:url(../images/bg-manu.png);
	margin:10px 10px;
	border-radius:10px;
	line-height:40px;
	font-size:15px;
	color:#FFF;
	font-weight:bold;
	padding-left:20px;
	}
.icon-title {
	float:left;
	margin-top:10px;
	margin-right:10px;
	}#fram #wrapper #top #right #content .news table {
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
